{
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 5,
  "trailingComma": "es5",
  "printWidth": 9999,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "quoteProps": "consistent"
}